# see http://editorconfig.org

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
trim_trailing_whitespace = true

[*.{html,js,json,css,scss,php,twig,md}]
charset = utf-8

[*.php]
indent_size = 4
insert_final_newline = true

[*.bat]
end_of_line = crlf

[*.md]
trim_trailing_whitespace = false